<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--        xsi:schemaLocation="-->
<!--        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->
<!--    <bean name="actor" class="com.stackroute.annotation.domain.Actor" >-->
<!--        <property name="age" value="22"></property>-->
<!--        <property name="name" value="atul"></property>-->
<!--        <property name="gender" value="male"></property>-->

<!--    </bean>-->
<!--    <bean name="movie" class="com.stackroute.annotation.domain.Movie">-->
<!--        <property name="actor" ref="actor"></property>-->
<!--    </bean>-->
<!--&lt;!&ndash;    <bean id="BeanLifeCycleDemoBean" class="com.stackroute.spring.domain.BeanLifecycleDemoBean">&ndash;&gt;-->
<!--&lt;!&ndash;        <property name="message" value="i'm property message" />&ndash;&gt;-->
<!--&lt;!&ndash;    </bean>&ndash;&gt;-->
<!--&lt;!&ndash;    <bean id="BeanPostProcessorDemoBean" class="com.stackroute.spring.domain.BeanPostProcessorDemoBean">&ndash;&gt;-->

<!--&lt;!&ndash;    </bean>&ndash;&gt;-->


<!--&lt;!&ndash;    <bean id="movie" class="com.stackroute.test.domain.Movie">&ndash;&gt;-->
<!--&lt;!&ndash;        <constructor-arg index="0" value="12"></constructor-arg>&ndash;&gt;-->
<!--&lt;!&ndash;        <constructor-arg index="1" value="Samaresh"></constructor-arg>&ndash;&gt;-->
<!--&lt;!&ndash;        <constructor-arg index="2" ref="actor"></constructor-arg>&ndash;&gt;-->
<!--&lt;!&ndash;    </bean>&ndash;&gt;-->

<!--</beans>-->
